## General
.cvs
.htaccess
.svn
.idea
/*.bak
/*.log
/*.swp
/*.php
/*.html
/*.txt

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## WordPress
wp-config.php
wp-admin/
wp-content/
wp-includes/
sitemap.xml
sitemap.xml.gz

## Development
.sass-cache
bower_components
node_modules
vendor
build
dist
assets/icons
_normalize.scss
