// Base
$font-family-base             : 'Roboto', sans-serif;
$font-size                    : 16px;

$main-color                   : #009b7c;

$text-color                   : #010101;
$link-color                   : #009b7c;

// Animation
$transition                   : all .3s ease;